<!DOCTYPE html>
<html>
<head>
<title>
Facepull - Find a Face
</title>

</head>

<body>
<div id="fb-root"></div>
<div id = "container">
	<div id="topbar">
		<div id ="login" class = "leftfloatbutton">
			
			<div id="auth-status">
				<div id="auth-loggedout">
					<a href="#" id="auth-loginlink">Login</a>
				</div>
				
				<div id="auth-loggedin" style="display:none">
					Hi, <span id="auth-displayname"></span>  
					(<a href="#" id="auth-logoutlink">logout</a>)
				</div>
			</div>
			
		</div>
	</div>
	<div id="gallery">
		<div id = "gallerytitlebar" class = "titlebar">
			<div id ="gallerytitletext" class = "centertext">
			Facebook Profile Pictures
			</div>
		</div>
	
	</div>
	<div id = "currentphoto">
		<div id = "phototitlebar" class ="titlebar">
			<div id = "phototitle" class = "centertext">
				<strong>Photo</strong>
			</div>
		</div>
		
		<div id = "photo">
			Photo
		</div>
		
		<div id = "save" class = "leftfloatbutton">
			Save
		</div>
	</div>
	<div id ="save>
	</div>
	
	
	
	
	
	</div>
</div>
</body>
</html>